go 1.18

use (
	./channels-101
	./channels-buffered
	./channels-select
	./dining-philosophers
	./dining-philosophers-2
	./final-project
	./producer-consumer
	./race-conditions
	./sleeping-barber
	./wait-group
	./weekly-income
)
