go 1.20

use (
	./column_stats
	./csv_files_generator
	./filesystem_walk
	./go_ci
	./go_ci/testdata/tool
	./go_ci/testdata/tool_err
	./go_ci/testdata/tool_gofmt_err
	./markdown_preview
	./todo_list
	./words_count
)
