{{template "base" .}}

{{define "content" }}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mt-5">Test microservices</h1>
        <hr>
        <button class="btn btn-outline-secondary" id="brokerBtn">
          Test Broker
        </button>

        <button class="btn btn-outline-secondary" id="authBtn">
          Test Auth
        </button>

        <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
          <span class="text-muted">Output shows here...</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4 class="mt-5">Sent</h4>
        <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
          <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
        </div>
      </div>
      <div class="col">
        <h4 class="mt-5">Received</h4>
        <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
          <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
        </div>
      </div>
    </div>
  </div>
{{end}}

{{define "js"}}
  <script>
    document.getElementById('brokerBtn').addEventListener('click', async event => {
      sendHttpRequest({
        serviceName: 'broker',
        url: 'http://localhost:8080',
        method: 'POST',
      });
    });

    document.getElementById('authBtn').addEventListener('click', async event => {
      sendHttpRequest({
        serviceName: 'authentication',
        url: 'http://localhost:8080/handle',
        method: 'POST',
        headers: jsonHeaders(),
        payload: {
          action: 'auth',
          auth: {
            email: 'admin@example.com',
            password: 'verysecret',
          },
        },
      });
    });

    async function sendHttpRequest({
      serviceName,
      url,
      method,
      headers,
      payload,
    }) {
      const body = {
        method: method.toUpperCase(),
      };

      if (payload) {
        body.body = JSON.stringify(payload);
      }

      if (headers) {
        body.headers = headers;
      }

      try {
        const res = await fetch(url, body);
        const resData = await res.json();
        updateHtml({
          serviceName,
          sent: body,
          received: resData,
          error: resData.error,
        });
      } catch (err) {
        updateHtml({
          serviceName,
          sent: body,
          received: null,
          error: err,
        });
      }
    }

    function updateHtml({
      serviceName,
      sent,
      received,
      error,
    }) {
      const sentEl = document.getElementById('payload');
      const receivedEl = document.getElementById('received');
      const outputEl = document.getElementById('output');

      sentEl.innerHTML = JSON.stringify(sent, undefined, 4);
      receivedEl.innerHTML = JSON.stringify(received, undefined, 4);

      if (error) {
        console.error(error);
        outputEl.innerHTML += `<br><br>Error: ${error}`
        return;
      }

      outputEl.innerHTML += `
        <br>
        <strong>Response from service: ${serviceName}</strong>:
        ${received.message}
      `;
    }

    function jsonHeaders() {
      const headers = new Headers();
      headers.append('Content-Type', 'application/json');
      return headers;
    }

  </script>
{{end}}
