go 1.18

use (
	./creational-patterns/builder
	./creational-patterns/factory
	./creational-patterns/prototype
	./creational-patterns/singleton

	./solid-principles/dependency-injection
	./solid-principles/interface-segregation
	./solid-principles/liskov-substitution
	./solid-principles/open-closed
	./solid-principles/single-responsibility

	./structural-patterns/adapter
	./structural-patterns/bridge
	./structural-patterns/composite
	./structural-patterns/decorator
	./structural-patterns/facade
	./structural-patterns/flyweight
)
